<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
    <title>Todo List</title>
</head>

<body>
    <%- include('/todos.ejs') %> <!-- Include the todos.ejs template -->
        <%- include('/footer.ejs') %> <!-- Include the footer.ejs template -->
</body>

</html>